BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left
SortIncludes: true
UseTab: Never
FixNamespaceComments: true
ReflowComments: false
InsertFinalNewline: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignOperands: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
SpacesInParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: true
SortUsingDeclarations: true
